# Review Question 1

In [52]:
cardinal_numbers = ("FIRST", "SECOND", "THIRD")
print(cardinal_numbers)

('FIRST', 'SECOND', 'THIRD')

In [2]:
print(cardinal_numbers[1])

SECOND

In [4]:
position1, position2, position3 = cardinal_numbers
print(position1)
print(position2)
print(position3)

FIRST
SECOND
THIRD

In [23]:
my_name = tuple("Jan Lorenz Laroco")
print(my_name)

('J', 'a', 'n', ' ', 'L', 'o', 'r', 'e', 'n', 'z', ' ', 'L', 'a', 'r', 'o', 'c', 'o')

In [12]:
print('x'in my_name)

False

In [33]:
first_letter = (my_name[1:])
print(first_letter)

('a', 'n', ' ', 'L', 'o', 'r', 'e', 'n', 'z', ' ', 'L', 'a', 'r', 'o', 'c', 'o')

# Review Question 2

In [35]:
food = ["RICE", "BEANS"]
print(food)

['RICE', 'BEANS']

In [36]:
food.append("BROCCOLI")
print(food)

['RICE', 'BEANS', 'BROCCOLI']

In [39]:
food.extend(["BREAD", "PIZZA"])
print(food)

['RICE', 'BEANS', 'BROCCOLI', 'BREAD', 'PIZZA']

In [40]:
print(food[0:2])

['RICE', 'BEANS']

In [43]:
last = food[len(food)-1]
print(last)

PIZZA

In [52]:
breakfast = "Eggs, Fruit, Orange Juice"
breakfast = breakfast.split(", ")
print(breakfast)

['Eggs', 'Fruit', 'Orange Juice']

In [53]:
has_three = len(breakfast)
print(has_three)

3

In [59]:
lengths = [len(length) for length in breakfast]
print(lengths)

[4, 5, 12]

# Review Question 3

In [60]:
tuple_data = ((1,2), (3,4))
print(tuple_data)

((1, 2), (3, 4))

In [51]:
tuple_data = ((1,2), (3,4))

for data in tuple_data:
    print("sum: ",sum(data))

sum:  3
sum:  7

In [5]:
numbers_list = [5,4,3,9]
numbers = numbers_list[:]
print(numbers)

[5, 4, 3, 9]

In [9]:
numbers_list.sort()
print(numbers_list)

[3, 4, 5, 9]

# CHALLENGE LIST OF LISTS

In [1]:
universities = [
    ['California Institute of Technology', 2175, 37704],
    ['Harvard', 19627, 39849],
    ['Massachusetts Institute of Technology', 10566, 40732],
    ['Princeton', 7802, 37000],
    ['Rice', 5879, 35551],
    ['Stanford', 19535, 40569],
    ['Yale', 11701, 40500]
]
print(universities)

[['California Institute of Technology', 2175, 37704], ['Harvard', 19627, 39849], ['Massachusetts Institute of Technology', 10566, 40732], ['Princeton', 7802, 37000], ['Rice', 5879, 35551], ['Stanford', 19535, 40569], ['Yale', 11701, 40500]]

# CHALLENGE WAX POETIC

In [3]:
nouns = ["fossil", "horse", "aardvark", "judge", "chef", "mango", "extrovert", "gorilla"]
verbs = ["kicks", "jingles", "bounces", "slurps", "meows", "explodes", "curdles"]
adjectives = ["furry", "balding", "incredulous", "fragrant", "exuberant", "glistening"]
prepositions = ["against", "after", "into", "beneath", "upon", "for", "in", "like", "over", "within"]
adverbs = ["curiously", "furiously", "sensuously", "extravagantly", "tantalizingly"]
print(nouns)
print(verbs)
print(adjectives)
print(prepositions)
print(adverbs)

['fossil', 'horse', 'aardvark', 'judge', 'chef', 'mango', 'extrovert', 'gorilla']
['kicks', 'jingles', 'bounces', 'slurps', 'meows', 'explodes', 'curdles']
['furry', 'balding', 'incredulous', 'fragrant', 'exuberant', 'glistening']
['against', 'after', 'into', 'beneath', 'upon', 'for', 'in', 'like', 'over', 'within']
['curiously', 'furiously', 'sensuously', 'extravagantly', 'tantalizingly']

# REVIEW QUESTION 4

In [36]:
captains = {}
print(captains)

{}

In [37]:
captains["Enterprise"] = "Picard"
captains["Voyager"] = "Janeway"
captains["Defiant"] = "Sisko"
for cap in captains:
    print(f"'{cap}' : '{captains[cap]}'.")

'Enterprise' : 'Picard'.
'Voyager' : 'Janeway'.
'Defiant' : 'Sisko'.

In [38]:
if "Enterprise" not in captains:
    captains["Enterprise"] = "Unknown"
if "Discovery" not in captains:
    captains["Discovery"] = "Unknown"
print(captains)

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko', 'Discovery': 'Unknown'}

In [39]:
for captain in captains:
    print(f"The {captain} is captained by {captains[captain]}.")

The Enterprise is captained by Picard.
The Voyager is captained by Janeway.
The Defiant is captained by Sisko.
The Discovery is captained by Unknown.

In [40]:
del captains['Discovery']
for captain in captains:
    print(f"'{captain} : '{captains[captain]}'.")

'Enterprise : 'Picard'.
'Voyager : 'Janeway'.
'Defiant : 'Sisko'.

In [45]:
value_pairs = (
    ("Enterprise", "Picard"),
    ("Voyager", "Janeway"),
    ("Defiant", "Sisko")
    )
new_value = dict(value_pairs)
for value in new_value:
    print(f"'{value} : '{new_value[value]}'.")

'Enterprise : 'Picard'.
'Voyager : 'Janeway'.
'Defiant : 'Sisko'.

# CHALLENGE CAPITAL CITY LOOP

In [48]:
capitals_dict = {
    'Alabama': 'Montgomery',
    'Alaska': 'Juneau',
    'Arizona': 'Phoenix',
    'Arkansas': 'Little Rock',
    'California': 'Sacramento',
    'Colorado': 'Denver',
    'Connecticut': 'Hartford',
    'Delaware': 'Dover',
    'Florida': 'Tallahassee',
    'Georgia': 'Atlanta',
}
for state in capitals_dict:
    print(f"The capital of {state} is {capitals_dict[state]}.")

The capital of Alabama is Montgomery.
The capital of Alaska is Juneau.
The capital of Arizona is Phoenix.
The capital of Arkansas is Little Rock.
The capital of California is Sacramento.
The capital of Colorado is Denver.
The capital of Connecticut is Hartford.
The capital of Delaware is Dover.
The capital of Florida is Tallahassee.
The capital of Georgia is Atlanta.